<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2011 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="com.rcpcompany.uibindings.scriptEngines">
      <engine
            engine="com.rcpcompany.uibindings.scriptengines.javascript.internal.JSScriptEngine"
            language="js">
      </engine>
   </extension>

      <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <bindingDecorator
            exactModelTypeMatch="false"
            type="script-js">
         <modelType
               alsoPrimitive="true"
               class="java.lang.String">
         </modelType>
         <uiType
               alsoPrimitive="true"
               class="java.lang.String">
         </uiType>
         <javaDecorator
               class="com.rcpcompany.uibindings.decorators.TextBindingDecorator">
         </javaDecorator>
      </bindingDecorator>
   </extension>


</plugin>
