<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.rcpcompany.uibindings.scripting.internal.views.FeatureScriptsView"
            id="com.rcpcompany.uibindings.scripting.internal.views.FeatureScriptsView"
            name="Scripts"
            restorable="true">
      </view>
   </extension>

   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <decoratorExtender
            class="com.rcpcompany.uibindings.scripting.internal.bindings.extenders.FeatureScriptDecorationExtender"
            priority="30">
         <standardArguments
               preferredCellEditorFactory="com.rcpcompany.uibindings.scripting.internal.bindings.FeatureScriptCellEditorFactory"
               preferredControlFactory="com.rcpcompany.uibindings.scripting.internal.bindings.FeatureScriptControlFactory"
               readonly="true">
         </standardArguments>
      </decoratorExtender>
   </extension>
   
      <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <bindingDecorator
            exactModelTypeMatch="false"
            type="script">
         <modelType
               alsoPrimitive="true"
               class="java.lang.String">
         </modelType>
         <uiType
               alsoPrimitive="true"
               class="java.lang.String">
         </uiType>
         <javaDecorator
               class="com.rcpcompany.uibindings.decorators.TextBindingDecorator">
         </javaDecorator>
         <standardArguments
               readonly="true">
         </standardArguments>
      </bindingDecorator>
      <bindingDecorator
            exactModelTypeMatch="false"
            type="script-simple">
         <modelType
               alsoPrimitive="true"
               class="java.lang.String">
         </modelType>
         <uiType
               alsoPrimitive="true"
               class="java.lang.String">
         </uiType>
         <javaDecorator
               class="com.rcpcompany.uibindings.decorators.TextBindingDecorator">
         </javaDecorator>
      </bindingDecorator>
   </extension>

   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <model
            class="com.rcpcompany.uibindings.scripting.IFeatureScript">
         <feature
               name="script">
            <argument
                  name="type"
                  value="script">
            </argument>
            <argument
                  name="preferredControl"
                  value="org.eclipse.swt.custom.StyledText">
            </argument>
         </feature>
         <feature
               name="object">
            <argument
                  name="dynamic"
                  value="true">
            </argument>
            <argument
                  name="toolTipText"
                  value="The object of script">
            </argument>
            <argument
                  name="type"
                  value="ident">
            </argument>
         </feature>
         <feature
               name="language">
            <standardArguments
                  preferredCellEditor="org.eclipse.swt.custom.CCombo"
                  preferredControl="org.eclipse.swt.custom.CCombo"
                  validValues="com.rcpcompany.uibindings.scripting.internal.bindings.LanguageListFactory"></standardArguments>
         </feature>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.rcpcompany.uibindings.example.application.pages.basic"
            class="com.rcpcompany.uibindings.scripting.internal.preferencePages.ScriptingPreferencePage"
            id="com.rcpcompany.uibindings.scripting.internal.pages.ScriptingPreferencePage"
            name="Scripting">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Toggle whether to show script or value in bindings"
            id="com.rcpcompany.uibindings.scripting.commands.ToggleShowScriptInBinding"
            name="Toggle script/value">
      </command>
      <command
            description="Edit the script of a binding"
            id="com.rcpcompany.uibindings.scripting.commands.EditScriptInBinding"
            name="Edit Script">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.rcpcompany.uibindings.scripting.commands.ToggleShowScriptInBinding"
            icon="images/toggle_script_16x16.png">
      </image>
      <image
            commandId="com.rcpcompany.uibindings.scripting.commands.EditScriptInBinding"
            icon="images/edit_script_16x16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rcpcompany.uibindings.scripting.internal.handlers.ToggleShowScriptInBindingHandler"
            commandId="com.rcpcompany.uibindings.scripting.commands.ToggleShowScriptInBinding">
      </handler>
      <handler
            class="com.rcpcompany.uibindings.scripting.internal.handlers.EditScriptInBindingHandler"
            commandId="com.rcpcompany.uibindings.scripting.commands.EditScriptInBinding">
         <enabledWhen>
            <and>
               <with
                     variable="com.rcpcompany.uibindings.sourceProviders.activeBinding">
                  <instanceof
                        value="com.rcpcompany.uibindings.IValueBinding">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rcpcompany.uibindings.scripting.commands.ToggleShowScriptInBinding"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+0">
      </key>
      <key
            commandId="com.rcpcompany.uibindings.scripting.commands.EditScriptInBinding"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:tools">
         <command
               commandId="com.rcpcompany.uibindings.scripting.commands.ToggleShowScriptInBinding"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=edit">
         <command
               commandId="com.rcpcompany.uibindings.scripting.commands.EditScriptInBinding"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.rcpcompany.uibindings.scripting.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.rcpcompany.uibindings.scripting.IScriptingPackage"
            genModel="model/scripting.genmodel"
            uri="http://rcp-company.com/schemas/uibindings/scripting.ecore">
      </package>
   </extension>
</plugin>
