<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2011 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rcpcompany.uibindings.tests.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.rcpcompany.uibindings.tests.application.Perspective"
            icon="icons/house_16x16.png"
            id="com.rcpcompany.uibindings.example.application.perspectives.Shop"
            name="Shop">
      </perspective>
      <perspective
            class="com.rcpcompany.uibindings.tests.application.perspectives.NavigatorPerspective"
            icon="platform:/plugin/com.rcpcompany.uibindings/images/views/navigator_view.gif"
            id="com.rcpcompany.uibindings.example.application.perspectives.Navigator"
            name="Navigator">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.rcpcompany.uibindings.example.application.perspectives.Shop">
         <view
               id="com.rcpcompany.uibindings.example.application.views.ShopBasicsView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.rcpcompany.uibindings.example.application.views.ContactsView"
               minimized="false"
               ratio=".3"
               relationship="bottom"
               relative="com.rcpcompany.uibindings.example.application.views.ShopBasicsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.example.application.views.CustomersView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ContactsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.example.application.views.OrderView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ContactsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.example.application.views.InventoryView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ContactsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.shop.views.GroupView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ContactsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.example.application.views.ShopNameView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ShopBasicsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.example.application.views.ShopNumbersView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ShopBasicsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.views.ValidationView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ShopNumbersView">
         </view>
         <view
               id="com.rcpcompany.uibindings.shop.views.CustomerShopItemsGridView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ContactsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.shop.views.OrdersShopItemsGridView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ContactsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.shop.views.ShopTreeView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ShopBasicsView">
         </view>
         <view
               id="com.rcpcompany.uibindings.shop.views.ShopNavigationView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.ShopBasicsView">
         </view>
         <perspectiveShortcut
               id="com.rcpcompany.uibindings.example.application.perspectives.Navigator">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            name="Shop">
      </category>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.ShopBasicsView"
            id="com.rcpcompany.uibindings.example.application.views.ShopBasicsView"
            name="Basic Shop Information"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.ContactsView"
            id="com.rcpcompany.uibindings.example.application.views.ContactsView"
            name="Contacts"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.CustomersView"
            id="com.rcpcompany.uibindings.example.application.views.CustomersView"
            name="Customers"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.OrderView"
            id="com.rcpcompany.uibindings.example.application.views.OrderView"
            name="Orders"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.InventoryView"
            id="com.rcpcompany.uibindings.example.application.views.InventoryView"
            name="Inventory"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.GroupView"
            id="com.rcpcompany.uibindings.shop.views.GroupView"
            name="Groups"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.ShopNameView"
            id="com.rcpcompany.uibindings.example.application.views.ShopNameView"
            name="Shop Name"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.ShopNumbersView"
            id="com.rcpcompany.uibindings.example.application.views.ShopNumbersView"
            name="Shop Numbers"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.views.ValidationView"
            icon="platform:/plugin/com.rcpcompany.uibindings/images/views/status_view.gif"
            id="com.rcpcompany.uibindings.views.ValidationView"
            name="Validation Status"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.CBasic"
            id="com.rcpcompany.uibindings.shop.views.CBasic"
            name="CBasic"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.CustomerShopItemsGridView"
            id="com.rcpcompany.uibindings.shop.views.CustomerShopItemsGridView"
            name="Customers x Shop Items"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.OrdersShopItemsGridView"
            id="com.rcpcompany.uibindings.shop.views.OrdersShopItemsGridView"
            name="Orders x Shop Items"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.ShopTreeView"
            id="com.rcpcompany.uibindings.shop.views.ShopTreeView"
            name="Shop Tree"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.OrderAutoFormView"
            id="com.rcpcompany.uibindings.shop.views.OrderAutoFormView"
            name="Orders (auto form)"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.navigator.views.NavigatorBaseView"
            icon="platform:/plugin/com.rcpcompany.uibindings/images/views/navigator_view.gif"
            id="com.rcpcompany.uibindings.shop.views.ShopNavigationView"
            name="Shop Navigator"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.navigator.views.NavigatorBaseView"
            icon="platform:/plugin/com.rcpcompany.uibindings/images/views/navigator_view.gif"
            id="com.rcpcompany.uibindings.shop.views.ShopNavigationContactsView"
            name="Shop Navigator (Contact Information)"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.navigator.views.NavigatorBaseView"
            icon="platform:/plugin/com.rcpcompany.uibindings/images/views/navigator_view.gif"
            id="com.rcpcompany.uibindings.shop.views.ShopNavigationOrderView"
            name="Customer outline (Orders)"
            restorable="true">
      </view>
      <view
            category="com.rcpcompany.uibindings.example.application.viewCategories.shop"
            class="com.rcpcompany.uibindings.shop.views.CustomerGroupsView"
            id="com.rcpcompany.uibindings.example.application.views.CustomerGroupsView"
            name="Customer Groups"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="com.rcpcompany.uibindings.example.application.pages.keys"
            name="Keys">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="com.rcpcompany.uibindings.example.application.pages.colors"
            name="Colors and Fonts">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:decoratorsPreferencePage"
            id="org.eclipse.ui.ExtensionFactory:decoratorsPreferencePage"
            name="Label Decorators">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.rcpcompany.uibindings.example.application.commands.ShowSelection"
            name="&amp;Show Selection">
         <commandParameter
               id="header"
               name="Header"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rcpcompany.uibindings.example.application.handlers.ShowSelection"
            commandId="com.rcpcompany.uibindings.example.application.commands.ShowSelection">
      </handler>
      <handler
            class="com.rcpcompany.uibindings.shop.handlers.SaveHandler"
            commandId="org.eclipse.ui.file.save">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.rcpcompany.uibindings.shop.views.ShopNavigationView">
         <command
               commandId="org.eclipse.ui.navigate.collapseAll"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="com.rcpcompany.uibindings.navigator.views.BaseEditorView">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.rcpcompany.uibindings.example.application.commands.ShowSelection"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.rcpcompany.uibindings.shop.wizards.NewContactWizard"
            icon="icons/contact-new_16x16.png"
            id="com.rcpcompany.uibindings.shop.wizards.NewContactWizard"
            name="Contact">
      </wizard>
      <wizard
            class="com.rcpcompany.uibindings.shop.wizards.TestFormChooser"
            id="com.rcpcompany.uibindings.shop.wizards.TestFormChooser"
            name="Test Form Chooser">
      </wizard>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rcpcompany.uibindings.shop.application"
            name="Shop Demo">
         <property
               name="appName"
               value="Shop Demo">
         </property>
      </product>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <model
            class="com.rcpcompany.uibindings.moao.INamedObject">
         <feature
               name="name">
            <standardArguments
                 preferredCellEditor="org.eclipse.swt.widgets.Text">
            </standardArguments>
         </feature>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.Shop">
         <feature
               name="tmpDir">
            <standardArguments
                  extensions="/windows/**"
                  label="Temporary Directory"
                  type="directoryName">
            </standardArguments>
         </feature>
         <standardArguments
               image="icons/house_16x16.png">
         </standardArguments>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.Country">
         <argument
               name="validValues"
               value="com.rcpcompany.uibindings.shop.observableListFactories.CountriesObservableListFactory">
         </argument>
         <argument
               name="itemDeletor"
               value="com.rcpcompany.uibindings.items.GenericDeletor">
         </argument>
         <standardArguments
               image="icons/country_16x16.png"
               openCommand="com.rcpcompany.uibindings.commands.showView(viewId=com.rcpcompany.uibindings.example.application.views.ShopBasicsView)"
               preferredCellEditor="org.eclipse.swt.custom.CCombo">
         </standardArguments>
         <feature
               name="name">
            <standardArguments
                  preferredCellEditor="org.eclipse.swt.widgets.Text">
            </standardArguments>
         </feature>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.CountryInfo">
         <standardArguments
               text="Information">
         </standardArguments>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.ShopItem">
         <argument
               name="validValues"
               value="com.rcpcompany.uibindings.shop.observableListFactories.ShopItemsObservableListFactory">
         </argument>
         <feature
               name="price">
            <standardArguments
                  type="price">
            </standardArguments>
         </feature>
         <standardArguments
               image="icons\shopItem-16x16.png"
               openCommand="com.rcpcompany.uibindings.commands.showView(viewId=com.rcpcompany.uibindings.example.application.views.InventoryView)">
         </standardArguments>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.Contact">
         <argument
               name="validValues"
               value="com.rcpcompany.uibindings.shop.observableListFactories.ContactsObservableListFactory">
         </argument>
         <standardArguments
               featureName="name"
               image="icons/contact_16x16.png"
               openCommand="com.rcpcompany.uibindings.commands.showView(viewId=com.rcpcompany.uibindings.example.application.views.ContactsView)">
         </standardArguments>
         <feature
               name="name">
            <standardArguments
                  openCommand="com.rcpcompany.uibindings.commands.showView(viewId=com.rcpcompany.uibindings.example.application.views.ContactsView)"
                  preferredCellEditor="org.eclipse.swt.widgets.Dialog">
            </standardArguments>
         </feature>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.Customer">
         <argument
               name="validValues"
               value="com.rcpcompany.uibindings.shop.observableListFactories.CustomersObservableListFactory">
         </argument>
         <standardArguments
               featureName="contact.name"
               openCommand="com.rcpcompany.uibindings.commands.showView(viewId=com.rcpcompany.uibindings.example.application.views.CustomersView)">
         </standardArguments>
         <feature
               name="logoFileName">
            <standardArguments
                  extensions="Image:*.gif;*.png///Other:*.*"
                  type="fileName">
            </standardArguments>
         </feature>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.Order">
         <argument
               name="validValues"
               value="com.rcpcompany.uibindings.shop.observableListFactories.OrdersObservableListFactory">
         </argument>
         <feature
               name="price">
            <standardArguments
                  readonly="true"
                  type="price">
            </standardArguments>
         </feature>
         <standardArguments
               featureName="no"
               image="icons\order-16x16.png">
         </standardArguments>
         <feature
               name="no">
            <standardArguments
                  initializer="com.rcpcompany.uibindings.shop.initializers.OrderInitializer"></standardArguments>
         </feature>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.OrderItem">
         <standardArguments
               featureName="item.name">
         </standardArguments>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.ShopItemGroup">
         <argument
               name="validValues"
               value="com.rcpcompany.uibindings.shop.observableListFactories.ShopGroupsObservableListFactory">
         </argument>
         <standardArguments
               image="icons\group-16x16.gif"
               nullLabel="-no group-"
               openCommand="com.rcpcompany.uibindings.commands.showView(viewId=com.rcpcompany.uibindings.shop.views.GroupView)"
               preferredCellEditor="org.eclipse.swt.custom.CCombo"
               preferredControl="org.eclipse.swt.widgets.Combo">
         </standardArguments>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.CustomerType">
         <feature
               name="Bronce">
            <standardArguments
                  image="icons/medal_bronze_2.png">
            </standardArguments>
         </feature>
         <feature
               name="Silver">
            <standardArguments
                  image="icons/medal_silver_2.png">
            </standardArguments>
         </feature>
         <feature
               name="Gold">
            <standardArguments
                  image="icons/medal_gold_1.png">
            </standardArguments>
         </feature>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.ShopItemURL">
         <standardArguments
               featureName="url">
         </standardArguments>
      </model>
      <model
            class="com.rcpcompany.uibindings.tests.shop.ShopItemDescription">
         <standardArguments
               featureName="description">
         </standardArguments>
      </model>
      <decoratorExtender
            class="com.rcpcompany.uibindings.shop.bindings.ContactExtender"
            priority="100">
      </decoratorExtender>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.shop">
         <modelType
               alsoPrimitive="true"
               class="com.rcpcompany.uibindings.tests.shop.Shop">
         </modelType>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.contactFolder">
         <standardArguments
               image="icons/evolution-contacts_16x16.png"
               text="Contacts">
         </standardArguments>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.shopItemFolder">
         <standardArguments
               image="icons\shopItem-16x16.png"
               text="Items"></standardArguments>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.shopItemGroups">
         <standardArguments
               image="icons\group-16x16.gif"
               text="Groups"></standardArguments>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.shopItemGroup">
         <modelType
               alsoPrimitive="true"
               class="com.rcpcompany.uibindings.tests.shop.ShopItemGroup">
         </modelType>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.contact"
            newWizardID="com.rcpcompany.uibindings.shop.wizards.NewContactWizard">
         <modelType
               alsoPrimitive="true"
               class="com.rcpcompany.uibindings.tests.shop.Contact">
         </modelType>
      </treeItem>
      <treeItem
            emptyFolderHidden="true"
            id="com.rcpcompany.uibindings.shop.treeItems.orderFolder">
         <standardArguments
               text="Orders">
         </standardArguments>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.order">
         <modelType
               alsoPrimitive="true"
               class="com.rcpcompany.uibindings.tests.shop.Order">
         </modelType>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.customer">
         <modelType
               alsoPrimitive="true"
               class="com.rcpcompany.uibindings.tests.shop.Customer">
         </modelType>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.countryFolder">
         <standardArguments
               image="icons/country_16x16.png"
               text="Countries">
         </standardArguments>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.country">
         <modelType
               alsoPrimitive="true"
               class="com.rcpcompany.uibindings.tests.shop.Country">
         </modelType>
      </treeItem>
      <treeItem
            id="com.rcpcompany.uibindings.shop.treeItems.countryinfo">
         <modelType
               alsoPrimitive="true"
               class="com.rcpcompany.uibindings.tests.shop.CountryInfo">
         </modelType>
      </treeItem>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <treeItemRelation
            parent="com.rcpcompany.uibindings.shop.treeItems.shop"
            id="com.rcpcompany.uibindings.shop.treeItems.contactFolder">
         <navigator id="contacts" />
         <navigator id="" />
      </treeItemRelation>
      <treeItemRelation
            id="com.rcpcompany.uibindings.shop.treeItems.shopItemFolder"
            parent="com.rcpcompany.uibindings.shop.treeItems.shop">
      </treeItemRelation>
      <treeItemRelation
            featureName="customers"
            parent="com.rcpcompany.uibindings.shop.treeItems.shop">
      </treeItemRelation>
      <treeItemRelation
            parent="com.rcpcompany.uibindings.shop.treeItems.contactFolder"  featureName="contacts">
         <navigator
               id="contacts">
         </navigator>
         <navigator>
         </navigator>
      </treeItemRelation>
      <treeItemRelation
            featureName="shopItems"
            parent="com.rcpcompany.uibindings.shop.treeItems.shopItemFolder">
      </treeItemRelation>
      <treeItemRelation
            id="com.rcpcompany.uibindings.shop.treeItems.orderFolder"
            parent="com.rcpcompany.uibindings.shop.treeItems.customer">
      </treeItemRelation>
      <treeItemRelation
            featureName="items"
            parent="com.rcpcompany.uibindings.shop.treeItems.order">
      </treeItemRelation>
      <treeItemRelation
            id="com.rcpcompany.uibindings.shop.treeItems.shopItemGroups"
            parent="com.rcpcompany.uibindings.shop.treeItems.shopItemFolder"
            priority="2000">
      </treeItemRelation>
      <treeItemRelation
            featureName="shopGroups"
            parent="com.rcpcompany.uibindings.shop.treeItems.shopItemGroups">
      </treeItemRelation>
      <treeItemRelation
            featureName="items"
            parent="com.rcpcompany.uibindings.shop.treeItems.shopItemGroup">
      </treeItemRelation>
      <treeItemRelation
            featureName="orders"
            parent="com.rcpcompany.uibindings.shop.treeItems.orderFolder">
      </treeItemRelation>
      <treeItemRelation
            featureName="orders"
            parent="com.rcpcompany.uibindings.shop.treeItems.customer">
         <navigator
               id="orders">
         </navigator>
      </treeItemRelation>
      <treeItemRelation
            id="com.rcpcompany.uibindings.shop.treeItems.countryFolder"
            parent="com.rcpcompany.uibindings.shop.treeItems.shop">
      </treeItemRelation>
      <treeItemRelation
            featureName="countries"
            parent="com.rcpcompany.uibindings.shop.treeItems.countryFolder"
            priority="1000">
      </treeItemRelation>
      <treeItemRelation
            featureName="information"
            parent="com.rcpcompany.uibindings.shop.treeItems.country"
            priority="1000">
      </treeItemRelation>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.navigator.editors">
      <editor
            factory="com.rcpcompany.uibindings.shop.editorPartFactories.ShopBasicInformation"
            id="com.rcpcompany.uibindings.shop.editorPartFactories.ShopBasicInformation"
            image="IMG_OBJ_FILE"
            name="Basic Information">
         <modelType
               class="com.rcpcompany.uibindings.tests.shop.Shop">
         </modelType>
      </editor>
      <editor
            factory="com.rcpcompany.uibindings.shop.editorPartFactories.ShopCountries"
            id="com.rcpcompany.uibindings.shop.editorPartFactories.ShopCountries"
            image="icons/country_16x16.png"
            name="Countries">
         <modelType
               class="com.rcpcompany.uibindings.tests.shop.Shop">
         </modelType>
      </editor>
      <preferenceModelType
            modelType="com.rcpcompany.uibindings.tests.shop.Shop">
      </preferenceModelType>
      <editor
            factory="com.rcpcompany.uibindings.shop.editorPartFactories.CountryInfo"
            id="com.rcpcompany.uibindings.shop.editorPartFactories.CountryInfo"
            image="icons/country_16x16.png"
            name="Country">
         <modelType
               class="com.rcpcompany.uibindings.tests.shop.Country">
         </modelType>
      </editor>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.navigator.editors">
      <navigator
            class="com.rcpcompany.uibindings.shop.views.advisors.ShopNavigatorAdvisor"
            id="com.rcpcompany.uibindings.shop.views.ShopNavigationView">
      </navigator>
      <navigator
            class="com.rcpcompany.uibindings.shop.views.advisors.ShopNavigatorContactsAdvisor"
            id="com.rcpcompany.uibindings.shop.views.ShopNavigationContactsView">
      </navigator>
      <navigator
            class="com.rcpcompany.uibindings.shop.views.advisors.ShopNavigatorOrderAdvisor"
            id="com.rcpcompany.uibindings.shop.views.ShopNavigationOrderView">
      </navigator>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <assignmentParticipant
            class="com.rcpcompany.uibindings.shop.participants.ShopItemToGroupAsignmentParticipant"
            exactTypeMatch="true">
         <sourceType
               class="com.rcpcompany.uibindings.tests.shop.ShopItem">
         </sourceType>
         <destinationType
               class="com.rcpcompany.uibindings.tests.shop.ShopItemGroup">
         </destinationType>
      </assignmentParticipant>
   </extension>


</plugin>
