<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.rcpcompany.uibindings.shop.xtext.views.InventoryXTextView"
            id="com.rcpcompany.uibindings.shop.xtext.views.InventoryXTextView"
            name="Inventory (XText)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.rcpcompany.uibindings.tests.application.Perspective">
         <view
               id="com.rcpcompany.uibindings.shop.xtext.views.InventoryXTextView"
               minimized="false"
               relationship="stack"
               relative="com.rcpcompany.uibindings.example.application.views.InventoryView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
