<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.8"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://rcp-company.com/schemas/uibindings/moao.ecore"
            class="com.rcpcompany.uibindings.moao.IMOAOPackage"
            genModel="model/moao.xcore"/>
   </extension>
</plugin>
