<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="editors" name="Editors" schema="schema/editors.exsd"/>
<extension
      point="org.eclipse.ui.commands">
   <command
         id="com.rcpcompany.uibindings.navigator.commands.SelectEditorPart"
         name="Select Editor...">
      <commandParameter
            id="editorID"
            name="editorID"
            optional="true"
            values="com.rcpcompany.uibindings.navigator.internal.handlers.SelectEditorPartEditorIDValues">
      </commandParameter>
   </command>
   <command
         id="com.rcpcompany.uibindings.navigator.commands.PinEditor"
         name="Pin Editor">
   </command>
   <command
         id="com.rcpcompany.uibindings.navigator.commands.CloneEditor"
         name="Clone Editor">
   </command>
</extension>
<extension
      point="org.eclipse.ui.commandImages">
   <image
         commandId="com.rcpcompany.uibindings.navigator.commands.SelectEditorPart"
         icon="IMG_OBJ_ELEMENTS">
   </image>
   <image
         commandId="com.rcpcompany.uibindings.navigator.commands.PinEditor"
         disabledIcon="IMG_ETOOL_PIN_EDITOR_DISABLED"
         icon="IMG_ETOOL_PIN_EDITOR">
   </image>
   <image
         commandId="com.rcpcompany.uibindings.navigator.commands.CloneEditor"
         icon="images/clone_16x16.png">
   </image>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:navigate">
      <command
            commandId="org.eclipse.ui.navigate.backwardHistory"
            id="com.rcpcompany.uibindings.backwardHistoryMenu"
            style="pulldown">
      </command>
      <command
            commandId="org.eclipse.ui.navigate.forwardHistory"
            id="com.rcpcompany.uibindings.forwardHistoryMenu"
            style="pulldown">
      </command>
   </menuContribution>
   <menuContribution
         locationURI="toolbar:navigate">
      <command
            commandId="org.eclipse.ui.navigate.backwardHistory"
            id="com.rcpcompany.uibindings.backwardHistoryMenu"
            style="pulldown">
      </command>
      <command
            commandId="org.eclipse.ui.navigate.forwardHistory"
            id="com.rcpcompany.uibindings.forwardHistoryMenu"
            style="pulldown">
      </command>
   </menuContribution>
   <menuContribution
         class="com.rcpcompany.uibindings.utils.IGlobalNavigationManager$BackwardHistoryMenuContributor"
         locationURI="menu:com.rcpcompany.uibindings.backwardHistoryMenu">
   </menuContribution>
   <menuContribution
         class="com.rcpcompany.uibindings.utils.IGlobalNavigationManager$ForwardHistoryMenuContributor"
         locationURI="menu:com.rcpcompany.uibindings.forwardHistoryMenu">
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="true"
         locationURI="popup:org.eclipse.ui.popup.any?after=com.rcpcompany.uibindings.commands.open">
      <menu
            id="openWith"
            label="Open With"
            mnemonic="h">
         <visibleWhen
               checkEnabled="false">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </iterate>
         </visibleWhen>
      </menu>
   </menuContribution>
   <menuContribution
         allPopups="true"
         class="com.rcpcompany.uibindings.navigator.internal.handlers.OpenWithContributionFactory"
         locationURI="popup:openWith">
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:com.rcpcompany.uibindings.navigator.views.BaseEditorView">
      <command
            commandId="com.rcpcompany.uibindings.navigator.commands.PinEditor"
            style="toggle">
      </command>
      <command
            commandId="com.rcpcompany.uibindings.navigator.commands.CloneEditor"
            style="push">
      </command>
      <menu
            id="com.rcpcompany.uibindings.navigator.SelectEditorPartMenu"
            label="Select Editor">
      </menu>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="toolbar:com.rcpcompany.uibindings.navigator.views.BaseEditorView">
      <command
            commandId="com.rcpcompany.uibindings.navigator.commands.PinEditor"
            style="toggle">
      </command>
      <command
            commandId="com.rcpcompany.uibindings.navigator.commands.CloneEditor"
            style="push">
      </command>
      <command
            commandId="com.rcpcompany.uibindings.navigator.commands.SelectEditorPart"
            id="com.rcpcompany.uibindings.navigator.SelectEditorPartMenu"
            style="pulldown">
      </command>
   </menuContribution>
   <menuContribution
         allPopups="false"
         class="com.rcpcompany.uibindings.navigator.internal.handlers.SelectEditorPartMenuContributor"
         locationURI="menu:com.rcpcompany.uibindings.navigator.SelectEditorPartMenu">
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="com.rcpcompany.uibindings.navigator.internal.handlers.NavigatorViewCollapseAll"
         commandId="org.eclipse.ui.navigate.collapseAll">
      <activeWhen>
         <with
               variable="activePart">
            <instanceof
                  value="com.rcpcompany.uibindings.navigator.views.NavigatorBaseView">
            </instanceof>
         </with>
      </activeWhen>
   </handler>
   <handler
         class="com.rcpcompany.uibindings.navigator.internal.handlers.OpenHandler"
         commandId="com.rcpcompany.uibindings.commands.openBinding">
      <activeWhen>
         <iterate
               ifEmpty="false"
               operator="or">
            <test
                  forcePluginActivation="true"
                  property="com.rcpcompany.uibindings.navigator.hasEditorPartDescriptor">
            </test>
         </iterate>
      </activeWhen>
   </handler>
   <handler
         class="com.rcpcompany.uibindings.navigator.internal.handlers.PinEditorHandler"
         commandId="com.rcpcompany.uibindings.navigator.commands.PinEditor">
   </handler>
   <handler
         class="com.rcpcompany.uibindings.navigator.internal.handlers.CloneEditorHandler"
         commandId="com.rcpcompany.uibindings.navigator.commands.CloneEditor">
   </handler>
   <handler
         class="com.rcpcompany.uibindings.navigator.internal.handlers.SelectEditorPartHandler"
         commandId="com.rcpcompany.uibindings.navigator.commands.SelectEditorPart">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         allowMultiple="true"
         class="com.rcpcompany.uibindings.navigator.internal.views.BaseEditorView"
         id="com.rcpcompany.uibindings.navigator.views.BaseEditorView"
         name="Generic Object Editor"
         restorable="false">
   </view>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="com.rcpcompany.uibindings.navigator.internal.PreferenceInitializer">
   </initializer>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         category="com.rcpcompany.uibindings.example.application.pages.basic"
         class="com.rcpcompany.uibindings.navigator.internal.pages.PreferredEditorPage"
         id="com.rcpcompany.uibindings.navigator.internal.pages.PreferredEditorPage"
         name="Editors">
   </page>
</extension>
<extension
      point="com.rcpcompany.uibindings.navigator.editors">
   <editor
         factory="com.rcpcompany.uibindings.navigator.editorFactories.EmptyEditorPartFactory"
         id="com.rcpcompany.uibindings.navigator.internal.com.rcpcompany.uibindings.IConstantTreeItem"
         image="IMG_ETOOL_CLEAR"
         name="Empty Container"
         priority="1">
      <modelType
            class="com.rcpcompany.uibindings.IConstantTreeItem">
      </modelType>
   </editor>
</extension>
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="com.rcpcompany.uibindings.navigator.internal.propertyTesters.EObjectPropertyTester"
         id="com.rcpcompany.uibindings.navigator.internal.propertyTesters.EObjectPropertyTester"
         namespace="com.rcpcompany.uibindings.navigator"
         properties="hasEditorPartDescriptor"
         type="org.eclipse.emf.ecore.EObject">
   </propertyTester>
</extension>

</plugin>
