<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="test.V1"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.rcpcompany.utils.basic.tests.Factory1"
            class="com.rcpcompany.utils.basic.tests.AdapterFactory1">
         <adapter
               type="com.rcpcompany.utils.basic.tests.Adapter1">
         </adapter>
      </factory>
   </extension>

</plugin>
