<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="UI Bindings 3.6.x target">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.sdk.ide" version="3.6.2.M20110210-1200"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="1.0.0.v20100831"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="1.0.2.v201102150722"/>
<unit id="org.eclipse.jdt.feature.group" version="3.6.2.r362_v20101117-0800-7z8XFW6FLFlmjJcvz03jyeFBLS_F"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.2.3.v201102160540-7C78FGUF9JgLWNO2UCNqfa"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="com.google.inject.source" version="2.0.0.v201003051000"/>
<unit id="org.apache.commons.lang.source" version="2.4.0.v201005080502"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20110422041657/repository"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.eclipse.swt.gtk.linux.s390x"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.swt.gtk.aix.ppc64"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.swt.cocoa.macosx.source"/>
<plugin id="org.eclipse.swt.motif.linux.x86"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.security.win32.x86"/>
<plugin id="org.eclipse.xtext.ui.source"/>
<plugin id="org.eclipse.ui.carbon"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.equinox.launcher.motif.linux.x86"/>
<plugin id="org.eclipse.swt.carbon.macosx.source"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.emf.edit.ui.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.core.resources.win32.x86"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.emf.databinding"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc64.source"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64"/>
<plugin id="org.antlr.runtime"/>
<plugin id="org.eclipse.swt.win32.win32.x86"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc64"/>
<plugin id="com.google.collect"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.xtext.util"/>
<plugin id="org.eclipse.emf.edit.ui"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
<plugin id="com.google.inject.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64"/>
<plugin id="com.google.collect.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.eclipse.core.filesystem.aix.ppc"/>
<plugin id="org.eclipse.xtext"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.swt.photon.qnx.x86.source"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="org.eclipse.swt.win32.win32.x86.source"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc.source"/>
<plugin id="org.aopalliance"/>
<plugin id="org.eclipse.xtext.ui.shared.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.solaris.sparc"/>
<plugin id="org.eclipse.equinox.launcher.carbon.macosx"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.swt.motif.aix.ppc"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.xtext.ui.shared"/>
<plugin id="org.eclipse.swt.cocoa.macosx"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.swt.motif.solaris.sparc.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.ui.carbon.source"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.rcp.source"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.s390"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.core.filesystem.macosx"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.swt.gtk.solaris.x86"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.swt.photon.qnx.x86"/>
<plugin id="org.eclipse.core.filesystem.win32.x86"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.xtext.junit.source"/>
<plugin id="org.eclipse.equinox.security.win32.x86.source"/>
<plugin id="org.eclipse.ui.cocoa"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="org.eclipse.emf.databinding.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86"/>
<plugin id="org.eclipse.emf.ecore.edit.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.ppc"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
<plugin id="org.eclipse.swt.motif.hpux.ia64_32.source"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.emf.databinding.edit"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
<plugin id="org.eclipse.swt.gtk.solaris.x86.source"/>
<plugin id="org.eclipse.swt.gtk.linux.s390.source"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.mozilla.javascript"/>
<plugin id="org.eclipse.core.filesystem.linux.x86"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64"/>
<plugin id="org.eclipse.equinox.launcher.gtk.aix.ppc64"/>
<plugin id="org.eclipse.core.filesystem.linux.ppc"/>
<plugin id="org.eclipse.jdt.core.source"/>
<plugin id="org.eclipse.equinox.launcher.motif.aix.ppc"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.emf.databinding.edit.source"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.swt.gtk.solaris.sparc"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.ppc64"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.eclipse.ui.cocoa.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64.source"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.swt.motif.hpux.ia64_32"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.s390x"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="com.google.inject"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.emf.common.ui.source"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86.source"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="org.eclipse.swt.motif.solaris.sparc"/>
<plugin id="org.eclipse.swt.gtk.aix.ppc64.source"/>
<plugin id="org.eclipse.xtext.builder.source"/>
<plugin id="org.eclipse.xtext.source"/>
<plugin id="org.eclipse.xtext.util.source"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64"/>
<plugin id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64"/>
<plugin id="org.eclipse.core.filesystem.solaris.sparc"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64.source"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.apache.log4j"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.equinox.launcher.motif.hpux.ia64_32"/>
<plugin id="org.eclipse.xtext.builder"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.core.filesystem.linux.x86_64"/>
<plugin id="org.eclipse.swt.motif.linux.x86.source"/>
<plugin id="org.eclipse.swt.gtk.linux.s390x.source"/>
<plugin id="org.eclipse.swt.gtk.solaris.sparc.source"/>
<plugin id="org.eclipse.xtext.junit"/>
<plugin id="org.eclipse.core.filesystem.hpux.ia64_32"/>
<plugin id="org.eclipse.swt.motif.aix.ppc.source"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.xtext.ui"/>
<plugin id="org.eclipse.equinox.launcher.gtk.solaris.x86"/>
<plugin id="org.eclipse.swt.carbon.macosx"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86"/>
<plugin id="org.eclipse.swt.gtk.linux.s390"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.core.expressions"/>
</includeBundles>
</target>
