<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="UI Bindings 3.7.x target">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110127-2034"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7milestones"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.0.v20110128-1446"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.3.0.v201101270151-7F78FUHFBBoPbSV-jGYxuY"/>
<repository location="http://download.eclipse.org/releases/staging/"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.swt.photon.qnx.x86.source"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.swt.gtk.solaris.sparc"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.ui.carbon"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.ui.cocoa.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.ui.carbon.source"/>
<plugin id="org.mozilla.javascript"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.ppc"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.ppc64"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64.source"/>
<plugin id="org.eclipse.swt.motif.hpux.ia64_32.source"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.swt.win32.win32.x86"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.swt.motif.linux.x86.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.solaris.sparc"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.swt.gtk.linux.s390x.source"/>
<plugin id="org.eclipse.swt.gtk.linux.s390.source"/>
<plugin id="org.eclipse.rcp.source"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.emf.databinding.edit.source"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.s390"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.swt.photon.qnx.x86"/>
<plugin id="org.eclipse.equinox.launcher.motif.aix.ppc"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.swt.gtk.solaris.x86.source"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.solaris.x86"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.swt.motif.aix.ppc.source"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.swt.cocoa.macosx"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64"/>
<plugin id="org.eclipse.swt.motif.hpux.ia64_32"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.s390x"/>
<plugin id="org.eclipse.equinox.launcher.carbon.macosx"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc.source"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx.x86_64"/>
<plugin id="org.eclipse.swt.carbon.macosx.source"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc64.source"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.emf.common.ui.source"/>
<plugin id="org.eclipse.swt.cocoa.macosx.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.launcher.motif.linux.x86"/>
<plugin id="org.eclipse.swt.gtk.solaris.sparc.source"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.equinox.launcher.gtk.aix.ppc64"/>
<plugin id="org.eclipse.swt.gtk.aix.ppc64"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64"/>
<plugin id="org.eclipse.ui.cocoa"/>
<plugin id="org.eclipse.swt.motif.solaris.sparc.source"/>
<plugin id="org.eclipse.emf.databinding.source"/>
<plugin id="org.eclipse.emf.databinding"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.launcher.cocoa.macosx"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.swt.win32.win32.x86.source"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.swt.win32.win32.x86_64.source"/>
<plugin id="org.eclipse.swt.gtk.linux.s390"/>
<plugin id="org.eclipse.swt.gtk.linux.x86.source"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.swt.gtk.linux.ppc64"/>
<plugin id="org.eclipse.swt.cocoa.macosx.x86_64"/>
<plugin id="org.eclipse.swt.motif.aix.ppc"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.emf.databinding.edit"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64.source"/>
<plugin id="org.eclipse.swt.gtk.linux.s390x"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.swt.gtk.aix.ppc64.source"/>
<plugin id="org.eclipse.swt.gtk.solaris.x86"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.swt.motif.linux.x86"/>
<plugin id="org.eclipse.swt.carbon.macosx"/>
<plugin id="org.eclipse.swt.motif.solaris.sparc"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.equinox.launcher.motif.hpux.ia64_32"/>
<plugin id="org.eclipse.equinox.registry"/>
</includeBundles>
</target>
