<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2011 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rcpcompany.uibindings.tests.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.rcpcompany.uibindings.tests.application.Perspective"
            id="com.rcpcompany.uibindings.tests.application.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.rcpcompany.uibindings.tests.views.PrimitiveWidgetsView"
            id="com.rcpcompany.uibindings.tests.views.PrimitiveWidgetsView"
            name="Primitive Widgets"
            restorable="true">
      </view>
      <view
            class="com.rcpcompany.uibindings.tests.views.TableView"
            id="com.rcpcompany.uibindings.tests.views.TableView"
            name="Table"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <bindingDecorator
            id="com.rcpcompany.uibindings.example.application.bindingProviders.amount"
            type="amount">
         <modelType
               class="com.rcpcompany.uibinding.tests.model.AmountAndCurrency">
         </modelType>
         <uiType
               class="java.lang.String">
         </uiType>
         <javaDecorator
               class="com.rcpcompany.uibindings.tests.decorators.AmountBI">
         </javaDecorator>
      </bindingDecorator>
      <bindingDecorator
            id="com.rcpcompany.uibindings.example.application.bindingProviders.weight"
            type="weight">
         <modelType
               class="com.rcpcompany.uibinding.tests.model.WeightUnit">
         </modelType>
         <uiType
               class="java.lang.String">
         </uiType>
         <enum
               defaultMappings="false">
            <mapping
                  ui="g"
                  model="G">
            </mapping>
            <mapping
                  model="KG"
                  ui="KiloGram">
            </mapping>
            <mapping
                  model="Tonnes"
                  ui="Tonnes">
            </mapping>
         </enum>
      </bindingDecorator>
      <bindingDecorator
            id="com.rcpcompany.uibindings.example.application.bindingDecorators.TO"
            type="reference">
         <modelType
               class="com.rcpcompany.uibinding.tests.model.TestObject">
         </modelType>
         <uiType
               class="java.lang.String">
         </uiType>
         <javaDecorator
               class="com.rcpcompany.uibindings.tests.decorators.TestObjectDecorator">
         </javaDecorator>
      </bindingDecorator>
      <bindingDecorator
            type="0..10">
         <number
               format="%d">
         </number>
         <argument
               name="min"
               value="0">
         </argument>
         <argument
               name="max"
               value="10">
         </argument>
         <modelType
               alsoPrimitive="true"
               class="java.lang.Integer">
         </modelType>
         <uiType
               alsoPrimitive="true"
               class="java.lang.Integer">
         </uiType>
         <uiType
               alsoPrimitive="true"
               class="java.lang.String">
         </uiType>
      </bindingDecorator>
      <model
            class="com.rcpcompany.uibinding.tests.model.TestObject">
         <feature
               name="number">
            <argument
                  name="type"
                  value="0..10">
            </argument>
         </feature>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.rcpcompany.uibindings.tests.application.Perspective">
         <view
               id="com.rcpcompany.uibindings.tests.views.PrimitiveWidgetsView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.rcpcompany.uibindings.tests.views.TableView"
               minimized="false"
               ratio=".5"
               relationship="right"
               relative="com.rcpcompany.uibindings.tests.views.PrimitiveWidgetsView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.rcpcompany.uibindings.UIBindingPreferences:basicPreferencePage"
            id="com.rcpcompany.uibindings.example.application.pages.basic"
            name="Basic UI Bindings">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="com.rcpcompany.uibindings.example.application.pages.keys"
            name="Keys">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="com.rcpcompany.uibindings.example.application.pages.colors"
            name="Colors and Fonts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="&amp;File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="tools"
               label="&amp;Tools">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
