<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="edit" name="Edit" schema="schema/edit.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Edits the comment associated with the current field"
            id="com.rcpcompany.uibindings.moao.ui.commands.EditComment"
            name="Edit Comment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.rcpcompany.uibindings.moao.ui.commands.EditComment"
            icon="images/note.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rcpcompany.uibindings.moao.ui.commands.EditComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.rcpcompany.uibindings.moao.ui.internal.handlers.EditCommentHandler"
            commandId=" com.rcpcompany.uibindings.moao.ui.commands.EditComment">
         <activeWhen>
            <and>
               <with
                     variable="com.rcpcompany.uibindings.sourceProviders.activeBinding#feature">
                  <instanceof
                        value="org.eclipse.emf.ecore.EStructuralFeature">
                  </instanceof>
               </with>
               <with
                     variable="com.rcpcompany.uibindings.sourceProviders.activeBinding#modelobject">
                  <instanceof
                        value="com.rcpcompany.uibindings.moao.IMOAO">
                  </instanceof>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <model
            class="com.rcpcompany.uibindings.moao.INamedObject">
         <feature
               name="name">
            <standardArguments
                  width="500">
            </standardArguments>
         </feature>
         <feature
               name="description">
            <standardArguments
                  preferredControl="org.eclipse.swt.custom.StyledText"
                  height="80"
                  width="500">
            </standardArguments>
         </feature>
      </model>
      <decoratorExtender
            class="com.rcpcompany.uibindings.moao.ui.internal.bindingDecorators.CommentDecoratorExtender"
            priority="100">
      </decoratorExtender>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.rcpcompany.uibindings.moao.ui.commands.EditComment"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
