<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <decoratorExtender
            class="com.rcpcompany.uibindings.financial.FinancialUpDownExtender"
            priority="100">
      </decoratorExtender>
      <argumentInfo
            lookupAttributeContainingClass="true"
            lookupAttributeTargetType="false"
            lookupParent="true"
            lookupReferenceContainingClass="false"
            lookupReferenceTargetType="false"
            name="financialUpDown">
      </argumentInfo>
   </extension>

</plugin>
