<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.rcpcompany/schemas/moao.ecore"
            class="com.rcpcompany.uibindings.moao.moao.IMOAOPackage"
            genModel="model/moao.genmodel"/>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <model
            class="com.rcpcompany.uibindings.moao.INamedObject">
         <feature
               name="name">
            <standardArguments
                  initializer="com.rcpcompany.uibindings.moao.internal.initializers.NameInitializer"></standardArguments>
         </feature>
      </model>
   </extension>

</plugin>
