<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://rcp-company.com/schemas/uibindings/testModel"
            class="com.rcpcompany.uibinding.tests.model.TestModelPackage"
            genModel="model/EX.genmodel"/>
   </extension>
   <extension
         point="com.rcpcompany.uibindings.uiBindings">
      <bindingDecorator
            type="price">
         <modelType
               alsoPrimitive="true"
               class="java.lang.Float">
         </modelType>
         <uiType
               class="java.lang.String">
         </uiType>
         <number
               format="%,.2f">
         </number>
         <argument
               name="financialUpDown"
               value="true">
         </argument>
         <standardArguments
               range="[0; 10000]">
         </standardArguments>
      </bindingDecorator>
      <model
            class="com.rcpcompany.uibindings.tests.shop.ShopItem">
         <feature
               name="price">
            <standardArguments
                  type="price">
            </standardArguments>
         </feature>
      </model>
   </extension>

</plugin>
